@{
    ViewBag.Title = "Home Page";
}

<html >
<head>
    <title></title>
</head>
<body>

    <p> my name is <span class="blink">Nefise</span> Hazır</p>

    <script>
        function blink_text() {
            $('.blink').fadeOut(500);
            $('.blink').fadeIn(500);
        }

        setInterval(blink_text, 1000);
        
    </script>

</body>
</html>