@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form  method="post">
        <input type="text" name="name" value="" />
    </form>

    <script>
        $(document).keypress(function (e) {
            if (e.which == 13) {
                alert("you press the enter")
            }
        });
    </script>
</body>
</html>