@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        p.font{
            font-size:60%;
        }
        p.p1{
            color:blueviolet;
            text-align:center;
        }
    </style>
</head>
<body>
    <p class="font p1"> I m Nefise and right now ı m learning jquery</p>
    <input type="button" name="name" value="ok" onclick="remove_css()" />
    <script>
        function remove_css() {
            $('p').removeClass();
        }
    </script>
</body>
</html>